@import 'reset';
@import 'mixins';

body {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter';
  font-weight: bold;
}

a {
  text-decoration: underline;
  color: blue;
  &:hover {
    text-decoration: underline;
  }
}

article {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  .logo {
    width: 36%;
    text-align: center;
    cursor: pointer;
    @include breakpoint(small) {
      width: 70%;
    }
    svg {
      display: block;
      width: 100%;
      margin-bottom: 8%;
    }
    .info {
      opacity: 1;
      transition: opacity 0.5s ease-in;
      margin-bottom: 20%;
      font-size: 1.25vw;
      letter-spacing: 0.16em;
      a {
        margin-left: 0;
      }
      @include breakpoint(small) {
        opacity: 1;
        font-size: 3vw;
        margin-bottom: 80%;
        a {
          margin-left: 0;
        }
      }

      &.hide {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

.design {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-bottom: 1px solid red;
  opacity: 0.2;
}
